
body {
    margin: 0;
}
.header {
    background-color: #000000;
    display: flex;
    align-items: baseline;
    grid-area: 1rem;
    padding: .5rem;
    gap: 20px;
}
.link {
    padding: 0;
    cursor: pointer;
    background: none;
    border: none;
    text-decoration: none;
    color: rgba(238, 224, 224, 0.575);
    font-size: inherit;
    font-family: inherit;
    transition: 150ms ease-in-out;
}
.dropdown.active > .link,
.link:hover {
    color: #fff;
}
.dropdown {
    position: relative;

}

.dropdownMenu {
    opacity: 0;
    position: absolute;
    left: 0;
    top: calc(100% + .55rem);
    background-color: white;
    pointer-events: none;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    transition: 150ms ease-in-out;
    transform: translateY(-10px);

}
.dropdownMenu.active {
    opacity: 1;
}
.dropdown.active > .link  + .dropdownMenu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
.information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}
.dropdown-links {
    display: flex;
    flex-direction: column;
    grid-area: .25rem;
}
.login-form  > input {
    margin-bottom: .5rem;
}